[build-system]
requires      = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "hot-fair-utilities"
version = "1.0.46"
description = "Utilities for AI - Assisted Mapping fAIr"
readme = "README.md"
authors = [{ name = "Omdena", email = "project@omdena.com" },{ name = "Hot Tech Team", email = "sysadmin@hotosm.org" }]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3",
]
keywords = [
    "preprocessing", "inference", 
    "postprocessing", "stitching","training"
]
dependencies = [
    "shapely==1.8.0", "GDAL", "numpy", 
    "Pillow==9.0.1", "geopandas==0.10.2", 
    "rasterio", "mercantile==1.2.1", "tqdm==4.62.3", 
    "rtree", "opencv-python==4.5.5.64","ramp-fair==0.1.2"
]
requires-python = ">=3.7"

    [project.optional-dependencies]
    build = ["build", "twine"]
    dev   = ["black", "bumpver", "isort"]

    [project.urls]
    repository    = "https://github.com/hotosm/fAIr-utilities"

[tool.bumpver]
current_version = "1.0.44"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message  = "bump version {old_version} -> {new_version}"
commit          = true
tag             = true
push            = false

    [tool.bumpver.file_patterns]
    "pyproject.toml" = [
        'current_version = "{version}"',
        'version = "{version}"',
    ]

[tool.isort]
profile                   = "black"
import_heading_stdlib     = "Standard library imports"
import_heading_thirdparty = "Third party imports"
import_heading_firstparty = "Reader imports"
