[build-system]
requires      = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "hot-fair-utilities"
version = "2.0.7"
description = "Utilities for AI - Assisted Mapping fAIr"
readme = "README.md"
authors = [{ name = "Hot Tech Team", email = "sysadmin@hotosm.org" }]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3",
]
keywords = [
    "preprocessing", "inference", 
    "postprocessing", "stitching","training"
]
dependencies = [
    "shapely==1.8.0", "numpy", 
    "Pillow==9.1.0", "geopandas>=0.12.0,<=0.14.4", "pandas>=2.0.0,<=2.2.3" , 
    "rasterio", "mercantile==1.2.1", "tqdm==4.67.0", 
    "rtree","opencv-python-headless<=4.10.0.84",
    "torch>=2.0.0,<=2.5.1", "torchvision>=0.10.0,<=0.20.1", "torchaudio>=2.0.0,<=2.5.1","ultralytics>=8.0.0,<=8.3.26",
    "ramp-fair==0.1.2", "protobuf==3.20.2"
]
requires-python = ">=3.7"

    [project.optional-dependencies]
    build = ["build", "twine"]
    dev   = ["black", "bumpver", "isort"]

    [project.urls]
    repository    = "https://github.com/hotosm/fAIr-utilities"

[tool.bumpver]
current_version = "1.0.51"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message  = "bump version {old_version} -> {new_version}"
commit          = true
tag             = true
push            = false

    [tool.bumpver.file_patterns]
    "pyproject.toml" = [
        'current_version = "{version}"',
        'version = "{version}"',
    ]

[tool.isort]
profile                   = "black"
import_heading_stdlib     = "Standard library imports"
import_heading_thirdparty = "Third party imports"
import_heading_firstparty = "Reader imports"

[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "v$version"
version_scheme = "semver"
version_provider = "pep621"
update_changelog_on_bump = true
